<!-- if you want to output a value you need to use
     the = after the %. -->
<% include partials/header.ejs%>

<h1> User Account Page </h1>

<h1> Welcome <%= user.username %> to your account page! </h1>


<a href="/user/<%= user.username %>/runPage" > Run Program </a>
<section id="fh5co-work" data-section="User's Projects">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2> User's Programs</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext">
                        <h3> Select a user's program to execute</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="images/work_1.jpg" class="fh5co-project-item image-popup">
                    <div class="fh5co-text">
                        <h2>Project 1</h2>
                        <span>Branding</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="images/work_2.jpg" class="fh5co-project-item image-popup">
                    <div class="fh5co-text">
                        <h2>Project 2</h2>
                        <span>Web</span>
                    </div>
                </a>
            </div>


            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="images/work_7.jpg" class="fh5co-project-item image-popup">
                    <div class="fh5co-text">
                        <h2>Project 3</h2>
                        <span>Web</span>
                    </div>
                </a>
            </div>

        </div>
        <div class="row">
        </div>
    </div>
</section>



<% include partials/footer.ejs%>