<!-- if you want to output a value you need to use
     the = after the %. -->
<% include partials/header.ejs%>

<link href="templates/generalStyle.css" rel="stylesheet" type="text/css">
<link href="templates/login.css" rel="stylesheet" type="text/css">
</head>
<body>

<h1> User Account Page </h1>

<nav class="navbar navbar-expand-sm navbar-custom">
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbar3">
        <span class="navbar-toggler-icon custom-toggler"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar3">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home<span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="createAccount">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="projectsPage">Search Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <div class="row content">

        <div class="col-sm-5 leftHalf">
            <p> Projects uploaded will be listed here</p>
        </div>


        <div class="col-sm-7 rightHalf">
            <a href="uploadProject"><button type="button" id="uploadButton" class="btn btn-dark">Upload File</button></a>
            <a href=""><button type="button" id="uploadButton" class="btn btn-dark">Log Out</button></a>
        </div>
    </div>
</div>


<% include partials/footer.ejs%>