<!-- if you want to output a value you need to use
     the = after the %. -->
<% include partials/header.ejs%>

    <link href="templates/home.css" rel="stylesheet" type="text/css">
</head>
<body>


<h1><%= title %></h1>

<a href="createAccount">Create an account </a>

<% include partials/footer.ejs%>