<% include partials/header.ejs%>

<link href="templates/generalStyle.css" rel="stylesheet" type="text/css">
<link href="templates/projectsPage.css" rel="stylesheet" type="text/css">
</head>
<body>


<h1>Search for user projects</h1>

<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" id = "active" href="projectsPage.ejs"> Search Projects</a>
            <a class="nav-item nav-link" href="#">About</a>
            <a class="nav-item nav-link" href="#">Help</a>
        </div>
    </div>
</nav>

</body>
